@font-face {
  font-family: spartan;
  src: url(./component/font/Spartan-Regular.ttf);
}

* {
  font-family: spartan;
}

body {
  background-color: #ffffff;
  color: #1a202c;
}

form>div {
  position: relative;
}

label,
input {
  touch-action: manipulation;
}

label {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translatex(-50%);
  transition: 0.2s;
  z-index: -1;
}

input {
  padding: 5px 15px;
  width: 40rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  background-color: transparent;
}

input:focus {
  box-shadow: none;
  border-bottom: 1px solid #1b6ca8;
}

input:focus~label {
  color: #1b6ca8;
  top: -15px;
  font-size: 0.7rem;
}

label.active {
  color: #1b6ca8;
  top: -15px;
  font-size: 0.7rem;
}

@media only screen and (max-width: 700px) {
  form {
    width: 20rem;
  }
}

.fa-microphone {
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 20px;
}

.fa-microphone:hover {
  border: 1px solid #f56565;
  box-shadow: 0 0 2px 1px #f56565;
}

.theme-container {
  border: 1px solid rgba(0, 0, 0, 0.17);
}

.panel {
  display: none;
  border-left: 1.3px solid #718096;
}

.fa-palette {
  color: #1a202c;
}

.light {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
}

.dark {
  background-color: #1a202c;
  border: 1px solid white;
  border-radius: 5px;
}

.error,
.mobile {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile {
  display: none;
}

.underlineAnim:after {
  content: "";
  width: 0;
  height: 1.5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #1a202c;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.underlineAnim:hover:after {
  width: 100%;
  left: 0%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}