@font-face {
  font-family: spartan;
  src: url(./component/font/Spartan-Regular.ttf);
}

* {
  font-family: spartan;
}

:root,
.lightmode {
  --clr-light-1: #ffffff;
  --clr-light-2: #edf2f7;
  --clr-dark-1: #1a202c;
  --clr-dark-2: rgba(0, 0, 0, 0.17);
  --clr-blue-1: #90cdf4;
  --clr-gray-1: #718096;
  --clr-red-1: #f56565;

  --background: var(--clr-light-1);
  --foreground: var(--clr-dark-1);
  --form-foreground: var(--clr-light-1);

  --border: var(--clr-dark-2);
  --border-focus: var(--clr-blue-1);

  --border-mic: var(--clr-gray-1);
  --border-hover-mic: var(--clr-red-1);

  transition: 300ms;
}

.darkmode {
  --clr-none: rgba(0, 0, 0, 0);
  --clr-light-1: #ffffff;
  --clr-light-2: #edf2f7;
  --clr-dark-1: #1a202c;
  --clr-dark-2: rgba(0, 0, 0, 0.17);
  --clr-blue-1: #90cdf4;
  --clr-gray-1: #718096;

  --background: var(--clr-dark-1);
  --foreground: var(--clr-light-2);
  --form-foreground: var(--clr-light-1);

  --border: var(--clr-light-1);
  --border-focus: var(--clr-none);

  --border-mic: var(--clr-light-1);
  --border-hover-mic: var(--clr-red-1);

  transition: 300ms;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

form>div {
  position: relative;
}

form>div>label {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  transition: 0.2s;
  z-index: -1;
}

form>div>input {
  width: 40rem;
  border-bottom: 1px solid var(--border);
  background-color: transparent;
}

form div input:focus+label {
  top: -10px;
  left: 0;
  transform: translateX(0);
  font-size: small;
}

@media only screen and (max-width: 700px) {
  form {
    width: 20rem;
  }
}

.fa-microphone {
  border: 1px solid var(--clr-dark-2);
  border-radius: 20px;
}

.fa-microphone:hover {
  border: 1px solid var(--clr-red-1);
  box-shadow: 0 0 2px 1px var(--clr-red-1);
}

.theme-container {
  width: fit-content;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

#theme {
  display: none;
  border-left: 1.3px solid var(--clr-gray-1);
}

.fa-palette {
  color: var(--clr-dark-1);
}

.light {
  background-color: var(--clr-light-1);
  border: 1px solid black;
  border-radius: 5px;
}

.dark {
  background-color: var(--clr-dark-1);
  border: 1px solid white;
  border-radius: 5px;
}

.error,
.mobile {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile {
  display: none;
}

.underlineAnim:after {
  content: '';
  width: 0;
  height: 1.5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: var(--foreground);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.underlineAnim:hover:after {
  width: 100%;
  left: 0%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}